<section class="w3l-grid-quote py-5" >
    <div class="container py-lg-3" id="contact">
      <h3>Let's work together indeed!</h3>
      <h6>If you liked my work or have any questions, please feel free to drop me an email</h6>
      <a href="mailto:sompod123@gmail.com" class="follow-insta-button btn btn-secondary p-3 mt-5" target="_blank">Say Hi!</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/md-shampad-a02b8917b/" class="follow-insta-button btn btn-secondary p-3 mt-5" target="_blank">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/sompodsign" class="follow-insta-button btn btn-secondary p-3 mt-5" target="_blank">Github</a>
    </div>
  </section>